* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* min-height: 100vh; */
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 1fr 4fr;
}

/** Header section */

.header {
  grid-column: 2/4;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/** Sidebar section */

.side-bar {
  grid-column: 1/2;
  grid-row: 1 / 4;
  background-color: #1992d4;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.5rem;
  display: grid;
  justify-content: flex-start;
  gap: 3rem;
}

.side-bar ul {
  list-style: none;
}

/** Nav section */

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.nav ul {
  display: grid;
  gap: 0.3rem;
}

.nav ul li {
  padding: 5px 0;
}

/** Project section */

.project {
  grid-column: 2/3;
}

/** announcements section */

.announcements {
  grid-column: 3/4;
}

/** trending */

.trending {
  grid-column: 3/4;
}

/** Footer */

.footer {
  grid-column: 1/4;
}
